<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>mindicador</title>
</head>
<body>
    <div class="section">
      <div class="section center-align">
          <h3>Solicitud de Credito</h3>
          <p>simulacion de solicitud de credito</p>  
      
      </div>
    </div>
    <div class="section center-align">
     
      <body>
        <div class="container">
            <div class="col-lg-12 col-md-4">
                <div class="col bg-info">
                    <h4>Informacion del usuario</h4>
                   
                    <form action="credit-data" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="ej: Jhon" required>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido: </label>
                            <input type="text" id="apellido" name="apellido" placeholder="ej: Doe" required>   
                        </div>
                        <div class="form-group">
                            <label for="rut">Rut: </label>
                            <input type="text" class="form-control" id="rut" name="rut" placeholder="sin punto y con guion. ej: 11111111-1" required>
                        </div>                                
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="ej jhondoe@example.com" required>
                        </div>
                        <div class="form-group">
                          <label for="amount">Monto a Solicitar  <i>expresado en U.F </i> :</label>
                          <input type="number" id="amount" name="amount" placeholder="ej 4" required>
                        </div>
                        <div class="form-group">
                          <label for="coutas">cuotas</label>
                          <input type="number" id="coutas" name="cuotas" min="1" max="24">
                        </div>
    
                        <br />
                        <button type="submit" class="btn btn-lg btn-block">Calcular</button>
                    </form>
                  
                </div>
               
              
            </div>
        </div>
    </body>

        </div>


  
  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>